/*Layout Padrão*/

.custom-navbar {
    background-color: #2e4037;
}

.navbar-brand {
    color: #ffffff !important;
}

.nav-item > a, .dropdown-custom-navbar > a {
    color: #ffffff !important;
    text-transform: uppercase;
    text-decoration: underline;
}
.nav-item > a:hover, .dropdown-custom-navbar > a:hover {
    text-decoration: none;
    background-color: #2e4037;
    color: #ffd800 !important;
    text-decoration: underline;
}

.dropdown-custom-navbar {
    background-color: #2e4037;
}

/*Home*/
#carrouselHome{
    width: 100%;
}